# Object files
*.o

# Executables
*.exe
*.out

# Code::Blocks
*.layout
*.depend
*.cbp.bak
bin/
obj/

# Node.js
node_modules/
dist/
.env
npm-debug.log
yarn-error.log
# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

